<header id="header" class="bg-purple-darker text- w-screen min-h-screen flex items-center flex-col content-center self-center p-8">
  	<div class="text-white text-center flex items-center flex-col content-center">
      <h1><img src="/images/logo/thunder-plains-logo-text-white.png" alt="ThunderPlains Developer Conference" /></h1>

      <p class="text-3xl text-purple-lightest">October 22<sup>nd</sup> 2019</p>

      <p class="py-8 max-w-lg">We will be at the <a href="http://www.coxconventioncenter.com/">Cox Convention Center</a> in Oklahoma City, Oklahoma. Our CFP will be opening soon. Follow us on Twitter to stay updated!</p>
      <p class="py-8">Previous Years: <a href="http://2018.thunderplainsconf.com" class="text-purple-lighter">2018</a> | <a href="http://2017.thunderplainsconf.com" class="text-purple-lighter">2017</a> | <a href="http://2016.thunderplainsconf.com" class="text-purple-lighter">2016</a> | <a href="http://2015.thunderplainsconf.com" class="text-purple-lighter">2015</a> | <a href="http://2014.thunderplainsconf.com" class="text-purple-lighter">2014</a> </p>

      <div>
        {% include "./social-icons.njk" %}
      </div>
    </div>
</header>
